<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Fisharoo.FisharooCore.Properties.Settings.FisharooConnectionStringLocal"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=fisharoo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Fisharoo.FisharooCore.Properties.Settings.FisharooConnectionStringDevelopment"
      connectionString="Server=; Initial Catalog=fisharoo; User ID=; Pwd=; Trusted_Connection=False"
      providerName="System.Data.SqlClient" />
    <add name="Fisharoo.FisharooCore.Properties.Settings.FisharooConnectionStringProduction"
      connectionString="Server=; Initial Catalog=fisharoo; User ID=; Pwd=; Trusted_Connection=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Fisharoo.FisharooCore.Properties.Settings>
      <setting name="DefaultCacheDuration_Days" serializeAs="Int">
        <value>1</value>
      </setting>
      <setting name="DefaultCacheDuration_Hours" serializeAs="Int">
        <value>0</value>
      </setting>
      <setting name="DefaultCacheDuration_Minutes" serializeAs="Int">
        <value>0</value>
      </setting>
    </Fisharoo.FisharooCore.Properties.Settings>
  </applicationSettings>
</configuration>